.m-page{
    width: 900px;
    margin: 80px auto;
}
.m-box{
    padding: 30px;
    margin: 0 0 30px;
    background: #fff;
}
.m-box .markdown-body{
    padding: 0 30px 30px;
}
.m-box .markdown-body .preview-link{
    margin: 0 0 15px;
}

.m-introduce .logo img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.m-menu .item{
    width: 100px;
}
.m-menu .item-curr a{
    color: #7dbfbd;
    font-weight: bold;
}

.m-list .iteml{
    width: 100px;
    padding: 30px 0 0;
    border-top: 4px solid #7dbfbd;
}
.m-list .itemr{
    padding: 30px 0 0;
    border-top: 2px solid #eee;
}
.m-list-1 .iteml{
    width: 300px;
}
.m-list-1 .itemr{
    height: 300px;
    overflow: scroll;
}
.m-list-1 .booktitle{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.4);
    color: #fff;
}
